<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.autoitalsinc.memory"
        version="0.01">

  <name>AV Memory</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/memory.js" target="js/memory.js"/>

  <js-module src="www/memory.js" name="memory">
    <clobbers target="memory" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Memory">
        <param name="ios-package" value="AVMemory" />
      </feature>
    </config-file>

    <header-file src="src/ios/AVMemory.h" target-dir="MemoryPlugin"/>
    <source-file src="src/ios/AVMemory.m" target-dir="MemoryPlugin"/>
  </platform>

</plugin>